.separator {
  background-image: linear-gradient(
   to right top,
   #e74698,
   #ec4b8e,
   #f05183,
   #f55678,
   #fa5b6d,
   #f5697e,
   #f4778f,
   #f385a1,
   #f292b2,
   #f1a0c4,
   #eeaedd,
   #e9bbf0
);
height: 6px;
width: 40%;
border-radius: 3px;
margin: 16px 0px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}